* {
    box-sizing: border-box;
}


body {
    margin: 0;
}
  
.column {
    float: left;
    padding: 10px;
}
  
.column.left {
    width: 50%;
  }

.column.right {
    width: 50%;
    text-align: left;
  }

.column.middle {
    width: 50%;
    padding-bottom: 400px;
    padding-top: 30px;
}

.column.side {
    width: 25%;
    background-color: gray;
    border-color: white;
    padding-bottom: 400px;
  }

  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
}

.row::after {
    content: "";
    display: table;
    clear: both;
  }

.comment {
    padding-top: 10px;
  }
